Repository Andarist/cherry-pick: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --no-semi --use-tabs --single-quote --trailing-comma es5 --write, prettier --prose-wrap always --write

Allow to specify name to prevent package.json requring
  bin/cherry-pick.js
  lib/index.js
  yarn.lock
Due: prettier --no-semi --use-tabs --single-quote --trailing-comma es5 --write

Remove yarn lock and simplify ternary
  lib/index.js
  yarn.lock
Due: prettier --no-semi --use-tabs --single-quote --trailing-comma es5 --write

Allow to specify name to prevent package.json requring (#3)
  bin/cherry-pick.js
  lib/index.js
Due: prettier --no-semi --use-tabs --single-quote --trailing-comma es5 --write

0.3.0
  package.json
Due: none

/cherry-picked/cherry-pick/ in package.json
  package.json
Due: none

Add Prettier configuration to package.json
  .lintstagedrc
  package.json
Due: none

Add support for glob to create selected directories
  README.md
  bin/cherry-pick.js
  lib/index.js
Due: prettier --no-semi --use-tabs --single-quote --trailing-comma es5 --write, prettier --prose-wrap always --write

fix: finds tsx files and ignores floating d.ts files
  lib/index.js
  yarn.lock
Due: prettier --no-semi --use-tabs --single-quote --trailing-comma es5 --write

Upgrade dependencies
  .gitignore
  .huskyrc
  package.json
  yarn.lock
Due: none

0.4.0
  package.json
Due: none

feat: find closest package.json for name
  lib/index.js
  package.json
Due: prettier --no-semi --use-tabs --single-quote --trailing-comma es5 --write

0.5.0
  package.json
Due: none

fix: update typo example code in READEME.md
  README.md
Due: prettier --prose-wrap always --write

Using posix path in glob
  lib/index.js
Due: prettier --no-semi --use-tabs --single-quote --trailing-comma es5 --write

Allow for nested files.
  lib/index.js
Due: prettier --no-semi --use-tabs --single-quote --trailing-comma es5 --write

Path conditions:
  prettier --no-semi --use-tabs --single-quote --trailing-comma es5 --write: any of: {lib,bin}/**/*.js
  prettier --prose-wrap always --write: any of: *.md
